.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card_heading {
  color: #000000;
}
.card_para {
  color: #64748b;
}
.im {
  margin-left: 130px;
  align-self: flex-end;
}
